<h1>All Messages</h1>
<hr/>

<% @messages.each do |message| %>
  <div class="message">
    <h3><a href="/messages/<%= message.id %>">
    <%= message.content %></a><small> (by: <%= message.author %>)</small></h3>
    <% unless message.url.nil? %>
      <a href="<%= message.url %>"><%= message.url %></a>
    <% end %>
  </div>
<% end %>

<hr/>
<a href="/messages/new">Post a message... It's FREE (for now)!</a>